body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(23, 23, 43);
}
#calculator{
    font-family: Arial, sans-serif;
    background-color: rgb(101, 96, 175);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(155, 107, 177);
    color: antiquewhite;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(155, 107, 177);
    color: antiquewhite;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: rgb(200, 123, 207);
}
button:active{
    background-color: rgb(217, 135, 224);
}
.operator-btn{
    background-color: rgb(194, 79, 142);
}
.operator-btn:hover{
    background-color: rgb(221, 90, 162);
}
.operator-btn:active{
    background-color: rgb(241, 98, 177);
}